/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color:  black;
}

h1 {
    font-size: 30px ;
    color: white;
}

h2 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1200px;
}

header, footer, footer a {
    text-align: center;
    background-color: #00ca95;
    color: white;
}

header img {
    width: 167px;
    height: auto;
    float: right;
    border-radius: 15%; 
    
}

footer {
    font-size: 15px;
}