@media only screen and (min-width: 600px) {

    body {
        font-size: 1.3em;

    }

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    nav {
        background-color: #FFB471;
    }
    nav button {
        display: none;
    }
    nav ul.hide{
        display: block;
    }
    
    nav ul li{
        display: inline-block;
    }
    
    .forecast {
        display: block;
        margin: 0;
        background-color: #EB8F90;
        text-align: center;
    }
    main table {}
    th {
        padding: .3em
    }
    .articleimg {
        width: 20em;
    }
    .skyimg{
    width: 23em;
}

    /* show the 10-day forecast with the medium view and up */
}
